@import "tailwindcss";

@layer base {
 
  html,
  body {
    font-family: "Poppins", sans-serif;
  }
}
 
::placeholder {
  font-size: 10px !important;
}


::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; 
}

body {
  -ms-overflow-style: none; 
}

/* Add this to your global CSS file */
input:focus {
  background-color: white !important;
  border-color: #d1d5db !important; /* gray-300 */
  outline: none !important;
}

